<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
          <h3>Crear: <a href="/admin/crear">Crear</a></h3>
    
    <%- include('../partials/footer.ejs') %>