<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

      <main class="container">

        <h1 class="h1-listado">Carrito de compras</h1>
        <div id="carrito">
          <p class="vacio">Carrito vacio</p>
          <table id="lista-carrito" class="u-full-width">

            <thead>

              <tr>

              </tr>

            </thead>

            <tbody>
              
            </tbody>

          </table>
          <a href="#" id="vaciar-carrito">Vaciar carrito</a>
        </div>

      </main>

      <%- include('../partials/footer.ejs') %>