<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container">

            </div>

            <script src="/javascripts/carritoDeCompras.js"></script>

            <%- include('../partials/footer.ejs') %>