
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %> 
    <h1>Estas viendo el detalle de <%= orquideas.nombre %> </h1>
</body>
<%- include('../partials/footer.ejs') %> 