<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container">
                <h1 class="h1-listado">Nuestras Orquideas</h1>
                <div class="productos-listado">
                    <% orquideas.forEach(orquideas=> { %>
                        <%- include("orquidea.ejs", {orquideas : orquideas}) %>
                            <% }) %>
                </div>
            </div>
    
    <%- include('../partials/footer.ejs') %>