<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <form action="/usuario/login" method="post" class="registro-f">
                <label for="">Email:</label>
                <input type="email" name="email" placeholder="Tu email"> 
                <br> 
                <br>
                <label for="">Contraseña</label>
                <input type="password" name="contrasenia" placeholder="******"> 
                <br> 
                <br>
                <input type="submit" value="Enviar">

            </form>

    </body>
    <%- include('../partials/footer.ejs') %>