<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container containerLogin">
                <form action="/usuario/login" method="post" class="registro-f">
                    <label class="email" for="">Email:</label>
                    <input class="email" type="email" name="email" placeholder="Tu email">
                    <label class="contrasenia" for="">Contraseña</label>
                    <input class="contrasenia" type="password" name="contrasenia" placeholder="******">
                    <div class="recuerdame"><label>Recordar usuario</label>
                        <input type="checkbox" name="recuerdame">
                    </div>
                    <p>¿Aun no estas registrado?</p>
                    <div class="buttons">
                        <a href="/usuario/registro">Registrate aqui</a>
                        <input class="enviar" type="submit" value="Enviar"> 
                    </div>
                    

                </form>
            </div>

    </body>
    <%- include('../partials/footer.ejs') %>