<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container" id="quienesSomos mision vision nuestraPolitica">

                <div>
                    <h3>¿Quienes somos?</h3>
                    <p>
                        Somos una empresa constituida de tradicion familiar, iniciando desde hace varios años y contando
                        con años de experiencia en esta industria de venta y comercio de orquideas en colombia, esta
                        empresa inicia con la enseñansa de Argemiro Sanchez (Padre)(Q.E.P.D) quien conto con orquideas
                        desde los 16 años y fallecio a sus 72 años aun con una gran pasion por las plantas de Orquideas,
                        pasion que la continuo Wilmer Sanchez(hijo)(administrador) desde los 7 años, quien fundo
                        Orquideas San Martin hace ya mas de 25 años. En Orquideas San Martin nos esforzamos día tras día
                        para ofrecerle a nuestros clientes una gran variedad de especies en Orquideas y otras plantas y
                        asi poder convertirnos en sus favoritos
                    </p>
                </div>

                <div>
                    <h3>Mision</h3>
                    <p>
                        Nuestra mision siempre ha sido una sola, ofrecerles a nuestro publico una gran variedad de
                        especies y variedades de las mismas, manteniendo en todo momento su calidad y cuidado
                        permanente, asegurandonos asi de siempre brindarles lo mejor a los mas importantes en nuestra
                        compañia, nuestros clientes, desde quienes tienen un gusto por hobbie hacia las plantas y sus
                        cuidados hasta quienes al igual que nosotros las comercian y sienten un amor y cariño muy
                        especial hacia estas plantas. Nos enfocamos en la mejora empresarial día tras día buscando con
                        cada decision que tomamos la optimizacion en procesos y efectividad de cada trabajo para
                        mantener en el mejor estado y brindar el mejor cuidado hacia nuestras plantas
                    </p>
                </div>

                <div>
                    <h3>Vision</h3>
                    <p>
                        Nuesta vision es que seamos una empresa reconocida por la mejora en nuestros productos y ser los primeros en quienes las personas piensen en el momento de desear comprar alguna planta de orquidea u otra especie, convirtiendonos asi en los preferidos para la compra de plantas de forma online o presencial 
                    </p>
                </div>

            </div>
            <%- include('../partials/footer.ejs') %>