<section class="Orquidea">

    <div class="card-img-home">
        <img class="" src="/images/orquideasImages/<%= orquideas.imagen1 %>" alt="">
    </div>
    <article class="card-article">

        <h3 class="h3-product">
            <%= orquideas.nombre %>
        </h3>

        <p class="precio-p"><span>
                <%= orquideas.precio %>
            </span></p>
        <div class="ver-detalle">
            <a class="ver-detalle-a" href="/usuario/detalle/<%= orquideas.id %>">Ver detalle</a>
        </div>

    </article>

</section>