<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <h1>Bienvenido: <%= usuarios.nombre %>
            </h1>

            <a class="nav-icons" href="/usuario/logout/">Logout</a>

    </body>
    <%- include('../partials/footer.ejs') %>