<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
        <div class="container">
            <h1>Bienvenido: <%= usuarios.nombre %>
            </h1>

            <a class="nav-icons" href="/usuario/logout/">Logout</a>
        </div>
    
    <%- include('../partials/footer.ejs') %>