<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

<h1>Bienvenido: <%= usuarios.nombre %> </h1>

    </body>
    <%- include('../partials/footer.ejs') %>