<div class="nav2-link icono-shop">
    <i class="fas fa-shopping-cart " id="icono-shop"></i>
</div>

<div class="cont-shop active-hidden-2" id="shop">
    <div class="carritoMain">
        <h3 class="h3-carrito">Carrito de compras</h3>
        <h3>Total:</h3>
        <p class="totalDeCompra">$0</p>
        <div class="btns-carrito"> <button class="totalDeCompraBtn">Comprar</button>
            <button class="vaciarBtn">Vaciar carrito de compras</button>
        </div>
        <div class="listaCarrito">

        </div>
    </div>
</div>