<script src="/javascripts/header.js"></script>
<script src="/javascripts/carritoDeCompras.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>

<footer>
    <a class="img-footer" href="/"><img class="img-footer" src="/images/LinkedIn cover - 1.png" alt=""></a>
    <div class="nuestraCompa침ia">

        <h2>Nuestra compa침ia</h2>
        <ul>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Misi칩n</a></li>
            <li><a href="#">Visi칩n</a></li>
            <li><a href="#">Nuestra politica</a></li>
            <li><a href="#">Contactanos</a></li>
        </ul>

    </div>

    <div class="redesSociales">

        <h2>Nuestras redes sociales</h2>
        <ul>
            <li><a href="https://web.facebook.com/people/Orqu%C3%ADdeas-san-Mart%C3%ADn/100063984790510/?_rdc=1&_rdr"
                    target="_blank"><i class="fab fa-facebook"></i>Facebook</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
        </ul>

    </div>
</footer>

</html>