<footer>
    <h3>Filtrar</h3>
    <input type="range" name="" id="" value="" />
    <input type="range" name="" id="" value="" />
    <div class="redes">
      <div>buscanos en</div>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-whatsapp"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </footer>