<div class="navbar-main-container-home">
    <div class="upper-home">
        <div class="upper-item-home"><a class="upper-icon-home" href="">correo@gmail.com</a> </div>
        <div class="upper-item-home"><a class="upper-icon-home" href="">3204474513</a></div>
        <div class="upper-item-home"><a class="upper-icon-home" href="">siguenos</a></div>
    </div>
    <nav class="navbar-main-home">
        <div class="bc-header-home">
            <a href="/">
                <img class="img-header-home" src="/images/LinkedIn cover - 1.png" alt="Imagen del logo">
            </a>
        </div>
        <div class="nav-tabs-div-home">
            <ul class="nav-tabss-home">
                <li><a class="nav-icons-home" href="/">Inicio</a></li>
                <li><a class="nav-icons-home" href="/productos/lista">Donde estamos</a></li>
                <li><a class="nav-icons-home" href="/usuario/login">Mi cuenta</a></li>
                <li><a class="nav-icons-home" href="/usuario/listado">Catalogo</a></li>
                <li><a class="nav-icons-home" href="#Contactos">Contáctanos</a></li>
            </ul>
            <ul class="nav-tabss2-home" hidden>
                <li><a class="nav2-link-home" href='#'><i class="fas fa-bars"></i></a></li>
                <li><a class="nav2-link-home" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a class="nav2-link-home" href="#"><i class="fas fa-search"></i></a></li>
            </ul>
            <div class="search-home" hidden>
                <input type="search-home" name="search" id="search-header-home" placeholder="¿Que planta deseas encontrar?"
                    autocomplete="off">
            </div>
        </div>
    </nav>
</div>