<div class="navbar-main-container">
    <div class="upper">
        <div class="upper-item"><a class="upper-icon" href="">correo@gmail.com</a> </div>
        <div class="upper-item"><a class="upper-icon" href="">3204474513</a></div>
        <div class="upper-item"><a class="upper-icon" href="">siguenos</a></div>
    </div>
    <nav class="navbar-main">
        <div class="bc-header">
            <a href="/">
                <img class="img-header" src="/images/LinkedIn cover - 1.png" alt="Imagen del logo">
            </a>
        </div>
        <div class="nav-tabs-div">
            <ul class="nav-tabss">
                <% if (locals.isLogged && locals.usuarioAdmin) { %>
                    <li><a class="nav-icons" href="/">Inicio</a></li>
                    <li><a class="nav-icons" href="/productos/lista">Donde estamos</a></li>
                    <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                    <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                    <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                    <li><a class="nav-icons" href="#">Opciones Admin</a></li>
                    <li><a class="nav-icons" href='#'> <i class="far fa-user"></i></a></li>
                    <% } else if (locals.isLogged) { %>
                        <li><a class="nav-icons" href="/">Inicio</a></li>
                        <li><a class="nav-icons" href="/productos/lista">Donde estamos</a></li>
                        <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                        <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                        <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                        <li><a class="nav-icons" href='#'> <i class="far fa-user"></i></a></li>
                        <% } else { %>
                            <li><a class="nav-icons" href="/">Inicio</a></li>
                            <li><a class="nav-icons" href="/productos/lista">Donde estamos</a></li>
                            <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                            <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                            <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                            <% } %>


            </ul>
            <ul class="nav-tabss2" hidden>
                <% if (locals.isLogged) { %>
                    <li><a class="nav2-link" href='#'> <i class="far fa-user"></i></a></li>
                    <% } %>
                        <li><a class="nav2-link" href='#'><i class="fas fa-bars"></i></a></li>
                        <li><a class="nav2-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>

            </ul>
            <div class="search" hidden>
                <input type="search" name="search" id="search-header" placeholder="¿Que planta deseas encontrar?"
                    autocomplete="off">
            </div>
        </div>
    </nav>
</div>