<div id="ocultar"></div>
<div class="navbar-main-container">
    <div class="upper">
        <div class="upper-item"><a class="upper-icon" href="">correo@gmail.com</a> </div>
        <div class="upper-item"><a class="upper-icon" href="">3204474513</a></div>
        <div class="upper-item"><a class="upper-icon" href="">siguenos</a></div>
    </div>
    <nav class="navbar-main">
        <div class="bc-header">
            <a href="/">
                <img class="img-header" src="/images/LinkedIn cover - 1.png" alt="Imagen del logo">
            </a>
        </div>
        <div class="nav-tabs-div">
            <ul class="nav-tabss">
                <% if ((locals.isLogged && locals.usuarioAdmin) || (usuarioYaLogueado && usuarioAdmin)) { %>
                    <li><a class="nav-icons" href="/">Inicio</a></li>
                    <li><a class="nav-icons" href="/usuario/nosotros">Nosotros</a></li>

                    <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                    <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                    <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                    <li><a class="nav-icons" href="/admin/opcionesAdmin">Opciones Admin</a></li>
                    <li><a class="nav-icons" href='/usuario/perfil'> <i class="far fa-user"></i></a></li>
                    <% } else if (locals.isLogged || usuarioYaLogueado) { %>
                        <li><a class="nav-icons" href="/">Inicio</a></li>
                        <li><a class="nav-icons" href="/usuario/nosotros">Nosotros</a></li>

                        <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                        <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                        <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                        <li><a class="nav-icons" href='/usuario/perfil'> <i class="far fa-user"></i></a></li>
                        <% } else { %>
                            <li><a class="nav-icons" href="/">Inicio</a></li>
                            <li><a class="nav-icons" href="/usuario/nosotros">Nosotros</a></li>

                            <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                            <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                            <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                            <% } %>
            </ul>
            <ul class="nav-tabss2" hidden>
                <% if ((locals.isLogged && locals.usuarioAdmin) || (usuarioYaLogueado && usuarioAdmin)) { %>

                    <div class="nav2-link icono-menu">
                        <i class="fas fa-bars" id="icono-menu"></i>
                    </div>

                    <div class="cont-menu active-hidden" id="menu">
                        <ul>
                            <li><a class="nav-icons" href="/">Inicio</a></li>
                            <li><a class="nav-icons" href="/usuario/nosotros">Nosotros</a></li>

                            <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                            <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                            <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                            <li><a class="nav-icons" href="/admin/opcionesAdmin">Opciones
                                    Admin</a></li>
                            <li><a class="nav-icons" href='/usuario/perfil'> <i class="far fa-user"></i></a></li>
                        </ul>
                    </div>x
                    <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>
                    <% } else if (locals.isLogged || usuarioYaLogueado) { %>

                        <div class="nav2-link icono-menu">
                            <i class="fas fa-bars" id="icono-menu"></i>
                        </div>

                        <div class="cont-menu active-hidden" id="menu">
                            <ul>
                                <li><a class="nav-icons" href="/">Inicio</a></li>
                                <li><a class="nav-icons" href="/usuario/mapa">Donde estamos</a>
                                </li>
                                <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a>
                                </li>
                                <li><a class="nav-icons" href="/usuario/listado">Catalogo</a>
                                </li>
                                <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                            </ul>
                        </div>


                        <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>

                        <% } else { %>
                            <div class="nav2-link icono-menu">
                                <i class="fas fa-bars" id="icono-menu"></i>
                            </div>

                            <div class="cont-menu active-hidden" id="menu">
                                <ul>
                                    <li><a class="nav-icons" href="/">Inicio</a></li>
                                    <li><a class="nav-icons" href="/usuario/mapa">Donde
                                            estamos</a></li>
                                    <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a>
                                    </li>
                                    <li><a class="nav-icons" href="/usuario/listado">Catalogo</a>
                                    </li>
                                    <li><a class="nav-icons" href="#Contactos">Contáctanos</a>
                                    </li>
                                </ul>
                            </div>

                            <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a>
                            </li>
                            <% } %>
            </ul>
        </div>
    </nav>
    <%- include('./carritoPartial.ejs') %>
</div>