<div id="ocultar"></div>
<div class="navbar-main-container-home">
    <div class="upper">
        <div class="upper-item"><a class="upper-icon" href="">correo@gmail.com</a> </div>
        <div class="upper-item"><a class="upper-icon" href="">3204474513</a></div>
        <div class="upper-item"><a class="upper-icon" href="">siguenos</a></div>
    </div>
    <nav class="navbar-main">
        <div class="bc-header">
            <a href="/">
                <img class="img-header" src="/images/LinkedIn cover - 1.png" alt="Imagen del logo">
            </a>
        </div>
        <div class="nav-tabs-div">
            <ul class="nav-tabss">
                <% if ((locals.isLogged && locals.usuarioAdmin) || (usuarioYaLogueado && usuarioAdmin)) { %>
                    <li><a class="nav-icons" href="/">Inicio</a></li>
                    <li><a class="nav-icons" href="/usuario/mapa">Donde estamos</a></li>
                    <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                    <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                    <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                    <li><a class="nav-icons" href="/admin/opcionesAdmin">Opciones Admin</a></li>
                    <li><a class="nav-icons" href='/usuario/perfil'> <i class="far fa-user"></i></a></li>
                    <% } else if (locals.isLogged || usuarioYaLogueado){ %>
                        <li><a class="nav-icons" href="/">Inicio</a></li>
                        <li><a class="nav-icons" href="/usuario/mapa">Donde estamos</a></li>
                        <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                        <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                        <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                        <li><a class="nav-icons" href='/usuario/perfil'> <i class="far fa-user"></i></a></li>
                        <% } else { %>
                            <li><a class="nav-icons" href="/">Inicio</a></li>
                            <li><a class="nav-icons" href="/usuario/mapa">Donde estamos</a></li>
                            <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                            <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                            <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                            <% } %>
            </ul>
            <ul class="nav-tabss2" hidden>
                <% if ((locals.isLogged && locals.usuarioAdmin) || (usuarioYaLogueado && usuarioAdmin)) { %>

                    <div class="nav2-link icono-menu">
                        <i class="fas fa-bars" id="icono-menu"></i>
                    </div>

                    <div class="cont-menu active-hidden" id="menu">
                        <ul>
                            <li><a class="nav-icons" href="/">Inicio</a></li>
                            <li><a class="nav-icons" href="/usuario/mapa">Donde estamos</a></li>
                            <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                            <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                            <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                            <li><a class="nav-icons" href="/admin/opcionesAdmin">Opciones Admin</a></li>
                            <li><a class="nav-icons" href='/usuario/perfil'> <i class="far fa-user"></i></a></li>
                        </ul>
                    </div>


                    
                    <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>
                    <% } else if (locals.isLogged || usuarioYaLogueado) { %>

                        <div class="nav2-link icono-menu">
                            <i class="fas fa-bars" id="icono-menu"></i>
                        </div>

                        <div class="cont-menu active-hidden" id="menu">
                            <ul>
                                <li><a class="nav-icons" href="/">Inicio</a></li>
                                <li><a class="nav-icons" href="/usuario/mapa">Donde estamos</a></li>
                                <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                                <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                                <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                            </ul>
                        </div>
                        <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>

                        <% } else { %>
                            <div class="nav2-link icono-menu">
                                <i class="fas fa-bars" id="icono-menu"></i>
                            </div>

                            <div class="cont-menu active-hidden" id="menu">
                                <ul>
                                    <li><a class="nav-icons" href="/">Inicio</a></li>
                                    <li><a class="nav-icons" href="/usuario/mapa">Donde estamos</a></li>
                                    <li><a class="nav-icons" href="/usuario/login">Mi cuenta</a></li>
                                    <li><a class="nav-icons" href="/usuario/listado">Catalogo</a></li>
                                    <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
                                    </li>
                                </ul>
                            </div>
                            <li><a class="nav2-link" href="#buscar"><i class="fas fa-search"></i></a></li>
                            <% } %>
                        </ul>
                        <%- include('./carritoPartial.ejs') %> 
        </div>
    </nav>
    <div class="slider-home">
        <div class="text-slider-home">
            Nuestro sitio en linea hecho para ti
        </div>
        <a class="home-home" href="/">Home</a>
        <div class="intro-home">
            <p class="intro-text-home">Para nosotros en Orquídeas San Martín tú eres el más importante, por eso hoy
                traemos
                para
                ti nuestra tienda online para que puedas hacer tus pedidos y aumentar tu coleccion de orquideas
                personal,
                o
                para tu negocio. Somos una empresa con años de experiencia, con un solo objetivo, que tu encuentres el
                producto deseado. En nuestra tienda virtual vas a poder encontrar plantas de todo tipo y para todo
                gusto,
                pero sobre todo para todo tipo de ocacion, si buscas el regalo perfecto para esa persona especial este
                es
                tu
                momento de encontrarlo.</p>
        </div>
    </div>
</div>