<div class="upper">
    <div class="upper-item"><a class="upper-icon" href="">correo@gmail.com</a> </div>
    <div class="upper-item"><a class="upper-icon" href="">3204474513</a></div>
    <div class="upper-item"><a class="upper-icon" href="">siguenos</a></div>
</div>
<div class="slider">
    <div class="navbar-main-container">
        <nav class="navbar-main">
            <div>
                <a href="/">
                    <img class="img-header" src="/images/Logo Orquideas San Martin.png" alt="Imagen del logo">
                </a>

            </div>

            <ul class="nav-tabs">
                <li><a class="nav-icons" href="/">Inicio</a></li>
                <li><a class="nav-icons" href="/productos/lista">Productos</a></li>
                <li><a class="nav-icons" href="/user/login">Mi cuenta</a></li>
                <li><a class="nav-icons" href="/productos/carritoDeCompras">Nuestros de postres</a></li>
                <li><a class="nav-icons" href="#Contactos">Contáctanos</a></li>
            </ul>


            <ul class="nav-tabs2">
                <li><a class="nav2-link" href="#"><i class="fas fa-search"></i></a></li>
                <li><a class="nav2-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a class="nav2-link" href='#'><i class="fas fa-bars"></i></a></li>
            </ul>
            <div class="search">
                <input type="search" name="search" id="search-header" placeholder="Que planta deseas encontrar" autocomplete="off">
            </div>
        </nav>
        
    </div>


    </nav>
    <div class="text-slider">
        Nuestro sitio en linea hecho para ti
    </div>
    <a class="home" href="/">home</a>
    <div class="intro">
        <p class="intro-text">Para nosotros en Orquídeas San Martín tú eres el más importante, por eso hoy traemos para
            ti nuestra tienda online para que puedas hacer tus pedidos y aumentar tu coleccion de orquideas personal, o
            para tu negocio. Somos una empresa con años de experiencia, con un solo objetivo, que tu encuentres el
            producto deseado. En nuestra tienda virtual vas a poder encontrar plantas de todo tipo y para todo gusto,
            pero sobre todo para todo tipo de ocacion, si buscas el regalo perfecto para esa persona especial este es tu
            momento de encontrarlo.</p>
    </div>
</div>