<%- include("partials/head.ejs") %>

  <body>
    <div class="container">

      <%- include("partials/header.ejs") %>

        <div class="container-top">
          <div class="estilos-de-pagina">
            <i class="fas fa-th"></i>
            <i class="fas fa-list"></i>
          </div>
          <label class="buscar-por-categoria" for="categoria">categorias </label>
          <div class="pagina">
            <p class="pagina-texto">Mostrando 1-10 de 30 plantas</p>
          </div>
        </div>

        <main>
          <section class="los-mas-vendidos">
            <h3 class="header-vendidos">Nuestros más vendidos </h3>
            <div class="container-productos">
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta"type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta"type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta"type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta"type="submit">Ver detalle</button>
              </div>
            </div>
          </section>
        </main>

        <%- include("partials/footer.ejs") %>

    </div>
  </body>