/* Container padre */
.containerLogin form {
    margin-top: 50px;
    border-radius: 20px ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #025e96;
}

/* LABEL E INPUT DE EMAIL */

.containerLogin form .email {
    margin-top: 10px;
    width: 80%;
    text-align: center;
}

/* LABEL E INPUT DE CONTRASEÑA */

.containerLogin form .contrasenia {
    margin-top: 10px;
    width: 80%;
    text-align: center;
}

/* CHECKBOX DE RECUERDAME */

.containerLogin form .recuerdame {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.containerLogin form .recuerdame input{
    margin-left: 5px;
}

.containerLogin form p {
    margin-top: 50px;
    margin-right: 40%;
}

.containerLogin form .buttons {
    display: flex;
    margin-top: 10px;
    width:100%;
    transition: 1s;
}

.containerLogin form .buttons a {
    text-decoration: none;
    color: black;
    transition: 1s;
    padding: 0px 10px;
    margin: 5px auto;
}

.containerLogin form .buttons a:hover {
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-top: -3px;
    text-align: center;
    background-color:#025e96;
}

.containerLogin form .buttons .enviar {
    margin: 0 auto;
    border-style:none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #fff;
    transition: 1s;
    padding: 0px 10px;
}

.containerLogin form .buttons .enviar:hover {
    background-color:#025e96;
    color: #fff;
    margin-top: -3px;
    border-color: #025e96;
    padding: 10px;
    border-radius: 20px;
}

/* EMAIL */

input.email, input.contrasenia {
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(153, 153, 153);
    transition: 1s;
}

input.email:hover, input.contrasenia:hover{
    border: 1px solid #00C851;
}

@media only screen and (min-width: 500px) {

    .containerLogin form {
        border: 2px solid #025e96;
        width: 30vw;
    }

}

@media only screen and (min-width:500px) and (max-width: 852px){

    .containerLogin form{
        padding-bottom: 10%;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons input {
    margin: 30% 0px;
    }




  
}