/* ----- UPPER ----- 
1263
143
*/
.upper {
  height: 25px;
  display: flex;
  background: #001f0a
}

.upper-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  font-size: 17px;
  font-family: "brygada 1918", serif;
  color: #ffffff;
  padding: 6px;
  margin: 0px 0px 0px 7px;

}

.upper-icon {
  color: #ffffff;
  text-decoration: none;
}

/* ------ NAVBAR-MAIN ------ */

.navbar-main-container {
  background-color: #002F30;
}

.navbar-main-container-home {
  padding-bottom: 50px;
  margin-bottom: 40px;
  background-color: #002F30;
}

.navbar-main {
  justify-content: center;
  align-items: center;
}

.img-header {
  height: 100%;
}

.bc-header {
  background-color: #002F30;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
}

.nav-tabs-div {
  background-color: #002F30;
}

/* ------NAV PRINCIPAL------ */
.nav-tabss {
  display: flex;
  justify-content: center;
  display: none;
  background-color: #002F30;
}

.nav-tabss li {
  list-style: none;
}

.nav-icons {
  padding: 15px;
  justify-content: center;
  color: #000000;
  text-decoration: none;
}

/* ------NAV DE ICONOS------ */
.nav2-link {
  display: flex;
}

.nav2-link li {
  list-style: none;
}

.nav2-link {
  padding: 10px;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}

/* ------ BARRA DE BUSQUEDA ------ */
.search {
  height: 30px;
  width: 500px;
  display: flex;
  outline: none;
  display: none;
  border-radius: 30px;
}

#search-header {
  height: 36px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
}

/* ------ IMAGEN DE FONDO PRINCIPAL ------ */
  
.slider-home {
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-image: url(/images/orquideasImages/IMG-20220513-WA0003.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
  margin-right: auto;
  padding-bottom:40px; 
  width: 95%;
}

/* ------ H-REF DE HOME ------ */
.home-home {
  color: #ffffff;
  font-weight: 100;
  display: flex;
  justify-content: center;
}

/* ------ TEXTO PRINCIPAL EN SLIDER ------ */

.text-slider-home {
  font-family: 'Radio Canada', sans-serif;
  color: #ffffff;
  font-size: 45px;
  padding: 160px 0px;
  text-align: center;
}

.intro-home {
  background-color: rgba(0, 0, 0, 0.237);
  margin: 40px;
  margin-top: 110px;
  padding: 10px;
  border-radius: 30px;

}

.intro-text-home {
  color: #ffffff;
  font-size: 25px;
  font-weight: 200;
}

/* ------SMALLER PHONE------ */

@media only screen and (min-width: 0px) and (max-width: 492px) {

  /* ------ UPPER ------ */
  .upper-item {
    font-size: 13px;
  }

  /* ------ NAVBAR-MAIN ------ */
  .img-header {
    height: 100%;
    margin-top: 10px;
    width: 100%;
  }

  /* ------ NAV DE ICONOS ------ */
  .nav2-link li {
    margin-right: 8px;
  }

  /* ------ IMAGEN DE FONDO PRINCIPAL ------ */
  .slider {
    height: fit-content;
    padding-bottom: 15px;
  }

  /* ------ TEXTO PRINCIPAL EN SLIDER ------ */
  .text-slider {
    font-size: 30px;
  }

  .intro-text {
    font-size: 20px;
  }

  /* ------ H-REF DE HOME ------ */
  .home {
    display: flex;
    font-size: 17px;
    align-items: center;
  }
}

/* ----- UPPER ----- */

/* ------ NAVBAR-MAIN ------ */

/* ------NAV PRINCIPAL------ */

/* ------NAV DE ICONOS ------ */

/* ------ BARRA DE BUSQUEDA ------ */

/* ------ IMAGEN DE FONDO PRINCIPAL ------ */

/* ------ H-REF DE HOME ------ */

/* ------ TEXTO PRINCIPAL EN SLIDER ------ */

@media only screen and (min-width: 493px) and (max-width: 768px) {

  /* ------NAV DE ICONOS ------ */
  .nav2-link li {
    margin-right: 20px;
  }

  /* ------ IMAGEN DE FONDO PRINCIPAL ------ */
  .slider {
    height: fit-content;
    padding-bottom: 15px;
  }

  /* ------ H-REF DE HOME ------ */
  .home {
    font-size: 25px;
  }
}

/* ------LAPTOPS, LARGER TABLETS IN LANDSCAPE, AND SMALL DESKTOPS  */
@media only screen and (min-width: 769px) and (max-width: 1279px) {

  .img-header {
    position: relative;
    z-index: 100;
  }

  /* ------NAV PRINCIPAL------ */
  .nav-tabss {
    display: flex;
    padding: 20px 0px;
    margin: auto;
    position: relative;
  }

  .nav-tabss li a {
    font-size: 20px;
    color: #ffffff;
  }

  /* ------NAV DE ICONOS ------ */

  .nav2-link .fa-bars,
  .nav2-link .fa-shopping-cart,
  .nav2-link .fa-search,
  .nav2-link .fa-user {
    display: hidden;
  }

  /* ------ IMAGEN DE FONDO PRINCIPAL ------ */

  .slider {
    height: fit-content;
    padding-bottom: 15px;
  }

}

/* ------LARGER DESKTOPS AND MONITORS */
@media only screen and (min-width: 1280px) {

  /* ------NAV PRINCIPAL------ */
  .nav-tabss {
    display: flex;
    padding: 20px 0px;
    margin: auto;
  }

  .nav-tabss li a {
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    transition: 1s;
  }

  .nav-tabss li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
  }

  /* ------NAV DE ICONOS ------ */
  .nav-tabs-div {
    background-color: #002F30;
  }
  /* ------ IMAGEN DE FONDO PRINCIPAL ------ */
  .slider {
    padding-bottom: 15px;
  }

  /* ------ TEXTO PRINCIPAL EN SLIDER ------ */

  .text-slider {
    padding-top: 120px;
    margin-bottom: 20px;
  }

  .intro-text {
    font-size: 20px;
    margin-bottom: 10px;
  }

}