.productos-listado{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 253, 253);
}
@media only screen and (min-width: 0px) and (max-width: 492px) {  }
@media only screen and (min-width: 592px) and (max-width: 718px) { 
    .productos-listado {
        display:flex;
        flex-direction: row;
        width: 100vw;
    }
 }
@media only screen and (min-width: 768px) { 

 }