.h1-detail {
    text-align: center;
}

.producto-detalle {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(228, 228, 228);
    margin: 70px 15px;
    border-radius: 8px;
}

.imagen-detalle-img img{
    width: 100%;
}

.imagen-detalle {
    padding: 10px;
    border-radius: 10px;
}

.h1-detail {
    margin: 5px 15px;
}

.imagenes-buttom {
    width: 50%;
    display: flex;
}

.imagenes-buttom img {
    width: 100%;
    margin: 5px 10px 5px 0px;
}

.imagenes-buttom {
    width: 33.3%;
}

.info-detail {
    margin-top: 10px;
    padding-bottom: 10px;
}

.info-detail p,
.info-detail h3 {
    margin-top: 10px;
    color: rgb(43, 43, 43);
    margin-left: 6px;
}


.precio-detalle strong {
    font-size: 30px;
    color: #002F30 !important;
}

.precio-detalle {
    margin-bottom: 20px;
}

.info-detail p strong {
    color: rgb(0, 0, 0);
}

.info-detail-buttom {
    display: flex;
}

.clima-detail {
    font-size: 19px;
    margin-bottom: 20px;
}

.info-detail-buttom p {
    background-color: #025E96;
    padding: 5px;
    margin-top: 20px;
    color: #fff;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
}

.info-detail-buttom p strong {
    color: #fff;
}

.compra-detail {
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-compra-detail {
    background-color: #025E96;
    border-color: #025E96;
    color: #fff;
    font-size: 18px;
    width: 70%;
    height: 5vh;
    border-radius: 10px;
    margin-top:20px;
}

.hr-detail {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.editar-planta {
    background-color: #324535;
    padding: 5px;
    margin-top: 100px;
    color: #fff;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 15px;
}

.editar-planta-a {
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 717px) {
    .producto-detalle {
        display: flex;
        flex-direction: row;
    }

    .h1-detail {
        margin-bottom: 50px;
    }

    .info-detail-buttom {
        padding: 100px 30px 0px 30px;
        margin-bottom: 0px;
        display: flex;
        justify-content: flex-end; 
    }

    .btn-compra-detail {
        width: 40%;
    }

    .imagen-detalle {
        display: flex;
        width: 55%;
    }

    .imagen-detalle-img {
        width: 100%;
        height: 100%;
    }

    .imagenes-buttom {
        margin-left: 10px;
        width: 40%;
        height: 40%;
        flex-direction: column;
    }
    .imagenes-buttom img {
        width: 100%;
    }

    .info-detail {
        width: 50%;
    }
}