footer {
    background-color: #001e1f;
    display: flex;
    flex-direction: column;
    border-top: 4px solid #4e4e4e;
    padding-bottom: 20px;
}

/* IMAGEN EN FOOTER */

.img-footer {
    margin-top: 20px;
    height: 130px;
    width: 344px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* DIV NUESTRA COMPAÑIA */

.nuestraCompañia {
    margin-left: 20px;
    display: flex;
    color: #ffffff;
    flex-direction: column;
}

.nuestraCompañia ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 6px;
}

.nuestraCompañia ul li a{
    text-decoration: none;
    color: #ffffff;
}
 

/* DIV NUESTRAS REDES SOCIALES */


.redesSociales {
    margin-left: 20px;
    display: flex;
    color: #ffffff;
    flex-direction: column;
}

.redesSociales ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 15px;
}

.redesSociales ul li a{
    text-decoration: none;
    color: #ffffff;

}

.redesSociales ul li i{
    margin-right: 10px;
    font-size: 2rem;
}

.redesSociales h2 {
    margin-top: 20px;
}
