.h1-listado {
    margin-top: 70px;
}

.productos-listado{
    margin: 40px 15px;
    display: grid;
    background-color: rgb(253, 253, 253);
}
@media only screen and (min-width: 0px) and (max-width: 492px) {  }
@media only screen and (min-width: 492px) and (max-width: 718px) { 
    .productos-listado {
    display: grid;
    grid-template-columns: 50% 50%;
    }
 }
@media only screen and (min-width: 717px) { 
    .productos-listado {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        }
 }