section.Orquidea {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.h1-listado {
    text-align: center;
}

.card-img {
    width: 77%;
    height: 84%;
    margin-bottom: 10px;
}

.card-img img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.card-article {
    text-align: center;
    border-radius: 10px;
    width: 61%;
}

.card-article h3,
.card-article p,
.card-article div {
    margin-top: 5px;
}

.ver-detalle {
    margin-bottom: 10px;
    background-color: #32A6A6;
    display: inline-block;
    padding: 5px 20%;
    border-radius: 8px;
}

.ver-detalle-a {
    text-decoration: none;
    color: #FFFFFF;
}


@media only screen and (min-width: 492px) and (max-width: 717px) {
    section.Orquidea {
        min-width: 50%;
    }

    .card-img {
        width: 87%;
        height: 97%;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 717px) {
    section.Orquidea {
        min-width: 50%;
    }

    /* .card-img {
        width: 67%;
        height: 77%;
        margin-bottom: 10px;
    } */
}