/*

#002f30
#03687c
#037587
#025e96
#0152a3
#0046af 

*/

section.Orquidea {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    transition: 1.2s;
}

section.Orquidea:hover {
    color: #fff !important; 
    border-radius: 20px;
    background-color: #037587;
    transform: scale(1.08);
}

.enDescuento {
    transition: 1s;
}

.enDescuento:hover {
    transform: scale(0.9);
    
}

.h1-listado {
    text-align: center;
}

.card-img {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}
.card-img-home {
    width: 87%;
    height: 94%;
    margin-bottom: 10px;
}

.card-img img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}
.card-img-home img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}

.precio-p {
    
    font-weight: 200;
}

.card-article {
    text-align: center;
    border-radius: 10px;
    width: 61%;
}

.card-article h3,
.card-article p,
.card-article div {
    margin-top: 5px;
}

.ver-detalle {
    margin-bottom: 10px;
    background-color: #03687C;
    display: inline-block;
    padding: 5px 20%;
    border-radius: 8px;
}

.ver-detalle-a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}

.h3-product{
    font-weight: 500;
}


@media only screen and (min-width: 492px) and (max-width: 717px) {
    section.Orquidea {
        min-width: 50%;
    }

    .card-img {
        width: 87%;
        height: 97%;
        margin-bottom: 10px;
    }

    .card-img-home {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 717px) {
    section.Orquidea {
        min-width: 50%;
        
    }

    /* .card-img {
        width: 67%;
        height: 77%;
        margin-bottom: 10px;
    } */
    
    .card-img-home {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
}