<%- include("../partials/head.ejs") %>

  <body>
    <div class="contain">
        <div class="slider">
          <%- include("../partials/header.ejs") %>

          <div class="text-slider">
            Nuestro sitio en linea hecho para ti
          </div>
          <a class="home" href="/">home</a>
          <div class="intro">
            <p class="intro-text">Para nosotros en Orquídeas San Martín tú eres el más importante, por eso hoy traemos
              para
              ti nuestra tienda online para que puedas hacer tus pedidos y aumentar tu coleccion de orquideas personal,
              o
              para tu negocio. Somos una empresa con años de experiencia, con un solo objetivo, que tu encuentres el
              producto deseado. En nuestra tienda virtual vas a poder encontrar plantas de todo tipo y para todo gusto,
              pero sobre todo para todo tipo de ocacion, si buscas el regalo perfecto para esa persona especial este es
              tu
              momento de encontrarlo.</p>
          </div>
        </div>

        <div>

        </div>

        <div class="container-top">
          <div class="estilos-de-pagina">
            <i class="fas fa-th"></i>
            <i class="fas fa-list"></i>
          </div>
          <label class="buscar-por-categoria" for="categoria">categorias </label>
          <div class="pagina">
            <p class="pagina-texto">Mostrando 1-10 de 30 plantas</p>
          </div>
        </div>

        <main>
          <section class="los-mas-vendidos">
            <h3 class="header-vendidos">Nuestros más vendidos </h3>
            <div class="container-productos">
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  <%= orquideas.nombre %>
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
            </div>
          </section>
          <div class="div-buscador">
            <p class="titulo-buscador">¿Qué planta quieres encontrar?</p>
            <input type="search" name="Buscar..." id="buscador-home">
            <p class="categoria">Categoria</p>
            <p class="categoria">Categoria</p>
            <p class="categoria">Categoria</p>
            <p class="categoria">Categoria</p>
            <p class="categoria">Categoria</p>
          </div>
          <section class="orquideas-florecidas">
            <h3 class="header-orquideas-florecidas">Orquideas florecidas</h3>
            <div class="container-productos-2">
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
            </div>
          </section>
          <div class="div-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum soluta aspernatur explicabo aut dolores! Ipsa
            dolores error molestiae architecto assumenda accusamus aliquam rerum
          </div>
          <div class="en-descuento">
            <div class="container-productos-3">
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="quienes-somos">
                  <img src="" alt="">
                  <h1>Quienes somos</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquam voluptate, vero dolorum at error cum fuga suscipit culpa omnis cumque illo recusandae veritatis consequuntur provident ipsa in officiis non, dolorem obcaecati beatae voluptates veniam iste? Vel commodi aspernatur aliquam?</p>
                </div>
              </div>
            </div>
          </div>
          <section class="mas-plantas">
            <div class="container-productos-4">
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
              <div class="planta">
                <div class="imagen-p-content">
                  <img class="imagen-p" src="./images/orquideasImages/IMG-20220513-WA0008.jpg" alt="">
                </div>
                <h3 class="nombre-p">
                  nombre planta
                </h3>
                <p class="precio-p">
                  $123.456
                </p>
                <p class="clima-p">
                  clima
                </p>
                <button class="detalle-planta" type="submit">Ver detalle</button>
              </div>
            </div>
          </section>
        </main>


        <%- include("../partials/footer.ejs") %>

    </div>
  </body>